<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0AC64CBC-DBD7-46C8-939A-B04B55A3923F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gk</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>谷歌香港</string>
			<key>url</key>
			<string>http://www.google.com.hk/search?safe=strict&amp;site=&amp;source=hp&amp;q={query}&amp;btnK=Google+%E6%90%9C%E7%B4%A2</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>17A293B8-9271-4B90-9CB0-76C417AC2B88</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sk</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>搜酷</string>
			<key>url</key>
			<string>http://www.soku.com/v?keyword={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>32EC8C7E-6502-4E75-B928-78A8230048F4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zh</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>知乎</string>
			<key>url</key>
			<string>http://www.zhihu.com/search?q={query}&amp;type1=all</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>4EB91513-98CF-4FC8-A9EB-28CD92127040</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>by</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>必应翻译</string>
			<key>url</key>
			<string>http://dict.bing.com.cn/#{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>58AC32FA-80D4-4E5F-A948-44E7B3A5A7FC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yd</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>有道翻译</string>
			<key>url</key>
			<string>http://dict.youdao.com/search?q={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>59BFC820-A652-4AFE-A763-94C7931F57A8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wb</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>新浪微博</string>
			<key>url</key>
			<string>http://s.weibo.com/weibo/{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>66948CE3-5E9E-4BC3-8350-4F7B8C592744</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yy</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>云云</string>
			<key>url</key>
			<string>http://weibo.yunyun.com/Weibo.php?p=1&amp;q={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>6CB2902D-F10D-4E8D-8CE8-EA80F6CDDEE9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>v2</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>V2EX</string>
			<key>url</key>
			<string>https://www.google.com/search?q=site:v2ex.com/t%20{query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>C51F8232-E45A-47E4-AF5B-23AC545861EA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>淘宝搜</string>
			<key>url</key>
			<string>http://s.taobao.com/search?q={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>E0960060-6A72-4DAD-8507-9395DDD5107A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>百度</string>
			<key>url</key>
			<string>http://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>E88A6D2D-2393-43A5-8374-35129B143C50</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>db</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>豆瓣</string>
			<key>url</key>
			<string>http://www.douban.com/search?q={query}</string>
			<key>utf8</key>
			<false/>
		</dict>
		<key>FFD47E44-D2C3-48AF-9481-21E01C34CC7C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com/search?q={query}&amp;ref=cmdform</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
