<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0C5AACF3-3644-4E15-B5EA-8ACF47D3D215</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>v2</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>V2EX</string>
			<key>url</key>
			<string>https://www.google.com/search?q=site:v2ex.com/t%20{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>263C6136-1A2C-4789-9750-0D498D287109</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>百度</string>
			<key>url</key>
			<string>http://www.baidu.com/#wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3876EC66-9E37-405C-A8A5-43D8D87B25B9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>db</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>豆瓣</string>
			<key>url</key>
			<string>http://www.douban.com/search?source=suggest&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>64997718-FE46-4B80-BA8A-3D95202BE58D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bing</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>必应</string>
			<key>url</key>
			<string>http://cn.bing.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8E469EA1-CA79-461C-9224-B207D313F1FA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>淘宝</string>
			<key>url</key>
			<string>http://s.taobao.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A462C1AC-CC7F-4771-91B8-495AA69DB96E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sk</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>搜酷</string>
			<key>url</key>
			<string>http://www.soku.com/v?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E0DB20A3-8610-48A8-B49B-619E8787717B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wb</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>微博</string>
			<key>url</key>
			<string>http://s.weibo.com/weibo/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
